@charset "UTF-8";

*{
	margin:0px;
	padding:0px;
	text-decoration:none;
	list-style-type: none;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	outline:none;
	border:none;
}
html{
	font-size:20px;
}
#content main{
	width:100%;
	padding:3rem 1rem;
	font-size:1.3rem;
	box-sizing:border-box;
}
#content main h1{
	padding-left:2.6rem;
}
#content main .box-info{
	display:flex;
	width:100%;
	max-width:150vw;
	justify-content:space-around;
	align-items:center;
	height:17rem;
	
	
}
#content main .box-info .info{
	width:20rem;
	display:flex;
	justify-content:center;
	align-items:center;
	height:10rem;
	background:rgb(247, 247, 245);
	border-radius:1.5rem;
	box-shadow:0.25rem 0.5rem 1rem rgba(0, 0, 0, 0.2);
	
}
#content main .box-info .info .data{
	width:15rem;
	height:10rem;
	display:flex;
	justify-content:center;
	padding-left:1rem;
	flex-direction:column;
}

#content main .box-info .info .data h1{
	text-align:center;
	padding:0;
	margin:0;
}

#content main .box-info .info .data h4{
	font-size:1.2rem;
}

#content main .box-info .info i{
	width:5rem;
	height:5rem;
	display:flex;
	justify-content:center;
	align-items:center;
	border-radius:1rem;
	margin-left:1rem;
}
#content main .box-info .info .icon-registered{
	background:rgb(210, 245, 206);
}
#content main .box-info .info .icon-user{
	background:rgb(202, 243, 252);
}
#content main .box-info .info .fa-solid{
	background:rgb(246, 233, 247);
}

#content main .stats{
	display:flex;
	width:100%;
	height:22rem;
	align-items:center;
	gap:3rem;
}
#content main .stats .picture{
	width:32rem;
	height:20.6rem;
	background:white;
}



	
