@charset "UTF-8";
*{
	font-family: "Noto Sans", sans-serif;
}
body{
	background:rgb(240, 249, 250);
	min-height:100vh;
	
}
.myProfile{
	width:75%;
	margin-left:20rem;
	height:45rem;
	display:flex;
	align-items:center;
	gap:2.3rem;
}
.profileImage{
	border:.2rem solid #e5e7eb;
	background:rgb(247, 247, 245);
	width:20rem;
	height:40rem;
}
.profileImage p{
	padding-left:2.5rem;
	padding-top:.5rem;
}
.profileImage img{
	width:12rem;
	height:13rem;
	background:aliceblue;
	border:.1rem solid #e5e7eb;
	margin-left:4rem;
	margin-top:1rem;
	border-radius:50%;
}
.button{
	width:15rem;
	height:4rem;
	background:#ffffff;;
	margin-left:2.5rem;
	margin-top:1rem;
	display:flex;
	justify-content:center;
	align-items:center;
	box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
    border-radius:.6rem;
    border: .1rem solid #e5e7eb;
}

.button button{
	width:14rem;
	height:3rem;
	background:black;
	font-size:.8rem;
	color:white;
	border-radius:.5rem;
}

.profileImage h4{
	padding-left:2.5rem;
	padding-top:1rem;
	font-weight:500;
	font-size:1rem;
}

.profileImage input{
	margin-left:2.5rem;
	margin-top:1rem;
	width:16rem;
	height:3rem;
	border-radius:.6rem;
    border: .1rem solid #e5e7eb;
    font-size:1.2rem; 
}

.changepw{
	margin-left:2.5rem;
	margin-top:1rem;
	width:16rem;
	height:3rem;
	border-radius:.6rem;
    border: .1rem solid #e5e7eb;
    font-size:1.2rem;
    color:white;	
}

.profileInfo{
	border:.2rem solid #e5e7eb;
	background:rgb(247, 247, 245);
	width:40rem;
	height:40rem;
	
}

.profileInfo p{
	padding-left:2.5rem;
	padding-top:.5rem;
	
}
.personalDetailsContainer{
	display: flex;
	gap:7rem;
	margin-left:1.8rem;
	
}
.personalDetails{
	display: flex;
	flex-direction:column;
	margin:1rem;
	
}
.personalDetails h4{
	font-weight:500;
	font-size:.8rem;
	margin-bottom:.6rem;
}
.personalDetails input{
	width:13rem;
	height:2.4rem;
	border-radius:.6rem;
    border: .1rem solid #e5e7eb;
    font-size:.7rem;
}
.profileInfo button{
	margin-left:13rem;
	margin-top:3rem;
	width:14rem;
	height:3rem;
	background:black;
	font-size:.8rem;
	color:white;
	border-radius:.5rem;
}